<?xml version="1.0" encoding="UTF-8"?>
<server description="DefaultApplication server">

    <!-- Enable features -->
    <featureManager>
<feature>appSecurity-2.0</feature>
        <feature>ejbLite-3.2</feature>
        <feature>jpa-2.1</feature>
        <feature>jsp-2.3</feature>
        <feature>servlet-3.1</feature>
    </featureManager>

    <quickStartSecurity userName="admin" userPassword="adminpwd"/>
    <keyStore id="defaultKeyStore" location="key.jks" type="jks" password="mpKeystore"/>
    
    <basicRegistry id="basic" realm="BasicRealm">
        <user name="user1" password="change1me"/>
        <group name="All Role">
        	<member name="user1"/>
        </group>
    </basicRegistry>
    
    <httpEndpoint host="*" httpPort="${default.http.port}" 
        httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>

    <!--  enterpriseApplication id="DefaultApplication" location="DefaultApplication.ear" name="DefaultApplication" / -->
    <webApplication location="starter-app.war" contextRoot="/"/>
    
    
    <jdbcDriver id="DerbyEmbedded" libraryRef="DerbyLib" />
    <library id="DerbyLib" filesetRef="DerbyFileset" />
    <fileset id="DerbyFileset"
             dir="${shared.resource.dir}"
             includes="derby-10.13.1.1.jar" />

    <dataSource id="DefaultDatasource"
                jndiName="DefaultDatasource"
                jdbcDriverRef="DerbyEmbedded">
        <properties.derby.embedded 
                databaseName="${server.config.dir}resources/DefaultDB"
                createDatabase="false" />
    </dataSource>

</server>
